
/* Background Colors */
.bg-softblack { background-color: #040404; }
.bg-charcol { background-color: #121212; }
.bg-saddlebrown { background-color: #B4A28F; }
.bg-salmon { background-color: #FB7374; }
.bg-whitesmoke { background-color: #fafafa; }
.bg-white { background-color: #FFFFFF; }
.bg-black { background-color: #000000; }
/* Foreground Colors */
.fg-softblack { background-color: #040404; }
.fg-charcol { background-color: #121212; }
.fg-whitesmoke { background-color: #fafafa; }
.fg-white { background-color: #FFFFFF; }
.fg-black { background-color: #000000; }


